<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="folder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="path" value="0" />
		<add key="id" value="1" />
	</appSettings>
    <userSettings>
        <folder.Properties.Settings>
            <setting name="tno" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="xnum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ynum" serializeAs="String">
                <value>-210</value>
            </setting>
            <setting name="wnum" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="hnum" serializeAs="String">
                <value>45</value>
            </setting>
        </folder.Properties.Settings>
    </userSettings>
</configuration>